extends layout.pug

block layoutNav
  nav.navbar.bg-dark.navbar-expand-lg.bg-body-tertiary(data-bs-theme="dark")
    div.container-xxl
      a(href="/").navbar-brand Checkers
      button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav")
        span.navbar-toggler-icon
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav(style={width: '100%'})
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown") Community
            ul.dropdown-menu
              li
                a.dropdown-item(href="/users") Users
              li
                a.dropdown-item(href="/friendRequests") Friend requests
              li
                a.dropdown-item(href="/friends") Friends
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown") Play
            ul.dropdown-menu
              li
                a.dropdown-item(href="/play/ai") Against an AI
              li
                a.dropdown-item(href="/play/human") Against a human
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown") History
            ul.dropdown-menu
              li
                a.dropdown-item(href="/games/ai") Against an AI
              li
                a.dropdown-item(href="/games/human") Against a human
          li.nav-item.dropdown.ms-auto
            a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown")
              | #[i.bi.bi-person] #{span=loggedUserName}
            ul.dropdown-menu
              li
                a.dropdown-item(href="/exit") Exit

block layoutBody
  div.card.mt-3.mb-5
    div.card-body
      h4= title
      hr
      block pageBody

  div.notifications-window
    div.notifications-header
      span Notifications
      button.notifications-clear-button.btn(data-bs-toggle="tooltip", data-bs-title="Clear")
        i.bi.bi-x-square
      span.ms-auto
        button.notifications-toggle-button.btn(data-bs-toggle="tooltip", data-bs-title="Toggle")
          i.bi.bi-caret-up
    div.notifications-body
      div.notifications-container

block layoutScripts
  script(src="/static/js/notifications.js")
  block pageScripts