extends layout.pug

block layoutNav
  nav.navbar.bg-dark.navbar-expand-lg.bg-body-tertiary(data-bs-theme="dark")
    div.container-xxl
      a(href="/").navbar-brand Checkers
      button.navbar-toggler(
        type="button",
        data-bs-toggle="collapse",
        data-bs-target="navbarNav",
      )
      div#navbarNav.collapse.navbar-collapse
        ul.navbar-nav(style={width: '100%'})
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown") Community
            ul.dropdown-menu
              li
                a.dropdown-item(href="/users") Users
              li
                a.dropdown-item(href="/friendRequests") Friend requests
              li
                a.dropdown-item(href="/friends") Friends
          li.nav-item.ms-auto
            a.nav-link(href="/exit") Exit

block layoutBody
  div.card.mt-3
    div.card-body
      block pageBody