extends layout.pug

block main
  div(style={width: '70%'}).card.m-auto.mt-3
    form(name="signup")
      div.card-body.d-flex.flex-column.gap-3
        h1.fw-bold.text-center Checkers 
          small | Sign up
        div
          label(for="username") Username 
          input(type="text", name="username", required).form-control
        div
          label(for="password") Password
          input(type="password", name="password", required).form-control
        div.d-flex.flex-row.align-items-center
          span
            | Already has an account? 
            a(href="/login") Login
            | .
          button(type="submit").ms-auto.btn.btn-primary Sign up
  script(src="static/js/signup.js") 